// UTILS
@import "./utils/variables";
@import "./utils/visually-hidden";

// BASE
@import "./base/container";
@import "./base/cummon";

// COMPONENTS
@import "./components/backdrop";
@import "./components/buttons";
@import "./components/modal-form";
@import "./components/modal-window";
@import "./components/social-links";
@import "./components/title";
@import "./components/logo";

// layout
@import "./layout/footer";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/section-description";
@import "./layout/section-team";
@import "./layout/section-offer";
@import "./layout/section-regular-costumers";
@import "./layout/section-occupation";
