header {
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.2;
  border: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  li:not(:last-child) {
    margin-right: 50px;
  }
}

.header__container {
  display: flex;
}

.nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  color: var(--main-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--transition-link-time) var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--button-text-color);
  }

  &.nav__link_current {
    color: var(--button-text-color);

    &.nav__link_current::after {
      position: absolute;
      bottom: -2px;
      content: "";
      background-color: var(--button-text-color);
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
    }
  }
}

.header-contact {
  display: flex;
  align-items: center;
  margin-left: auto;

  &__list:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contact .link {
  color: var(--second-text-color);

  &:hover,
  &:focus {
    color: var(--button-text-color);
    .header-contact-icon {
      fill: var(--button-text-color);
    }
  }
}

.header-contact__icon {
  margin-right: 10px;
  fill: var(--second-text-color);
  transition: fill var(--transition-link-time) var(--transition-cubic);
}

.header-contact__tel,
.header-contact__mail {
  display: flex;
  align-items: center;
  color: var(--second-text-color);
  transition: color var(--transition-link-time) var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--button-text-color);

    .header-contact__icon {
      fill: var(--button-text-color);
    }
  }
}
