.occupation {
  padding-top: 47px;
  padding-bottom: 94px;
}

.occupation__image-list {
  display: flex;
  li {
    width: 370px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.occupation__image-item {
  position: relative;
}

.occupation__image-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0px;
  background-color: rgba(47, 48, 58, 0.8);
}

.occupation__image-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
}
