.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.team__list {
  display: flex;
  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 0;
  }
}
.team__member-name {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.team__member {
  width: 270px;
  background: #ffffff;
  border-radius: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team__member-description {
  text-align: center;
  padding: 30px 32px;
}
