.button {
  color: #fff;
  border-color: transparent;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.9;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  align-self: center;
  background-color: var(--button-text-color);
  transition: background-color var(--transition-link-time)
    var(--transition-cubic);
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.filter__button {
  color: var(--main-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  box-shadow: none;
  transition: background-color var(--transition-link-time)
      var(--transition-cubic),
    color var(--transition-link-time) var(--transition-cubic),
    box-shadow var(--transition-link-time) var(--transition-cubic);
  &:hover,
  &:focus {
    background-color: var(--button-text-color);
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button.footer-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-farm__icon {
  margin-left: 10px;
  fill: #fff;
}
