.logo {
  display: block;
  color: var(--button-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}

.logo__web-footer,
.logo__web-header {
  font-family: Oleo Script, sans-serif;
  font-weight: 600;
  line-height: 1.4;
}

.header .logo {
  margin-right: 88px;
}

.logo__web-header {
  color: var(--main-text-color);
}

.logo__web-footer {
  color: #ffffff;
}
.footer .logo {
  margin-bottom: 23px;
}
