.logo {
  display: block;
  color: var(--button-text-color);
  font-size: 26px;
  font-weight: 700;
}

.logo__web-header {
  margin-right: 93px;
  color: var(--main-text-color);
}

.logo__web-footer {
  color: #ffffff;
}
.footer .logo {
  margin-bottom: 23px;
}
