.social-list {
  display: flex;
  margin: 16px auto 0;
  justify-content: space-between;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-link-time)
    var(--transition-cubic);
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    background-color: var(--button-text-color);
    .social-list__icon {
      fill: #ffffff;
    }
  }
}
.social-list__icon {
  fill: var(--icons-color);
  transition: fill var(--transition-link-time) var(--transition-cubic);
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-link-time)
    var(--transition-cubic);
  &:hover,
  &:focus {
    background-color: var(--button-text-color);
  }
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__icon {
  fill: #ffffff;
}
