.section-title {
  color: var(--main-text-color);
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 50px;
}

.regular-costumer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 50px;
}
