:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --button-text-color: #2196f3;
  --icons-color: #afb1b8;
  --transition-link-time: 250ms;
  --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font-style: Roboto, sans-serif;
}
